<div class="ExpandableCards">
    <div class="ExpandableCards-row"
        role="tablist"
        {{#if isMobile}} aria-multiselectable="true"{{/if}}>
        {{#each items}}
        <a href="#ExpandableCards-content--{{../rowId}}-{{@index}}"
            id="ExpandableCards-card--{{../rowId}}-{{@index}}"
            class="ExpandableCards-card{{#if className}} ExpandableCards-card--{{className}}{{/if}}"
            role="tab"
            aria-label="{{#if titlePrefix}}{{titlePrefix}}: {{/if}}{{title}}"
            aria-controls="ExpandableCards-content--{{../rowId}}-{{@index}}">
            {{#if titlePrefix}}
            <div class="ExpandableCards-titlePrefix">{{titlePrefix}}</div>
            {{/if}}
            <div class="ExpandableCards-image" role="presentation"><img src="{{image}}" alt="" /></div>
            <h3 class="ExpandableCards-title">{{title}}</h3>
            <div class="ExpandableCards-more" role="presentation"></div>
        </a>
        {{#if ../isMobile}}
        <div id="ExpandableCards-content-{{../rowId}}-{{@index}}"
            class="ExpandableCards-content ExpandableCards-content--inline"
            role="tabpanel"
            aria-labelledby="ExpandableCards-card--{{../rowId}}-{{@index}}"
            aria-hidden="true"
            style="height: 0">
            <div tabindex="0"><article><div class="story richtext">{{{content}}}</div></article></div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{#unless isMobile}}
    {{#each items}}
    <div id="ExpandableCards-content--{{../rowId}}-{{@index}}"
        class="ExpandableCards-content ExpandableCards-content--block"
        role="tabpanel"
        aria-labelledby="ExpandableCards-card--{{../rowId}}-{{@index}}"
        aria-hidden="true">
        <div tabindex="0"><div class="article section">{{{content}}}</div></div>
    </div>
    {{/each}}
    {{/unless}}
</div>
